@import "tailwindcss";

.font-cinzel {
  font-family: "Cinzel", serif;
}

.font-goudy {
  font-family: "Goudy Bookletter 1911", serif;
}

body {
  font-family: "Goudy Bookletter 1911", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cinzel", serif;
}
